<h1><%= @post.title %></h1>
<h3>created by: <%= @post.user.username %></h3>

<%= @post.content %>
<%= link_to 'Delete', post_path(@post), method: 'delete' %>

<h3>Comments:</h3>
<%= render 'shared/comments' %>

<%= form_for ([ @post, @comment]) do |f| %>
  <h2>Add A Comment</h2>
  <%= f.text_field :body %>
  <%= hidden_field_tag(:id, @post.id) %>
  <%= f.submit %>
<% end %>
