<!DOCTYPE html>
<html>
<head>
  <title>Greddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<hr>
<%= link_to 'Home', root_path %> |
<% if logged_in? %>
<%= link_to "sign out - #{current_user.username}", signout_path, method: 'delete' %>
<% else %>
<h4><%= link_to 'Sign Up', signup_path %></h4> |
<h4><%= link_to "Sign In", signin_path %></h4>
<% end %>
<hr>
<%= flash[:notice] %>
<%= error_notices(@error_resource) unless @error_resources == nil %>
<%= yield %>
</body>
</html>
